---
import '@fontsource/montserrat';
import '@fontsource/nunito';

import Background from '../components/Background.svelte';
import Surface from '../components/Surface.svelte';
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>DevCorvus</title>
        <script
            is:inline
            src="https://kit.fontawesome.com/da377e052d.js"
            crossorigin="anonymous"></script>
        <link
            is:inline
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
        />
    </head>
    <body>
        <div
            class="relative font-montserrat text-slate-100 bg-gradient-to-b from-slate-950 to-slate-900 overflow-hidden"
        >
            <main class="container relative z-10 mx-auto transition-all">
                <slot />
            </main>
            <Background client:load />
            <Surface client:load />
        </div>
    </body>
</html>
